body {background: #f1f1f1; font-family: 'Lora', serif; font-size: 1rem; color: white}

.timeline {position: relative;overflow: auto;width: 100%;margin-top: 40px; }
.timeline::before {content: ''; position: absolute; top: 0; left: 4%; margin: 0 auto; height: 100%; width: 0.1rem; background-color: #065743; }

.timeline p.timeline-year { margin: 0; width: 100%; color: #0a9f7a; background: #f1f1f1; text-align: left; font-size: 30px; position: relative; z-index: 2; padding: 1rem 0 }
.timeline h3 { color: inherit; font-weight: 300; display: inline-block;}

.timeline .timeline-list { list-style-type: none; overflow: hidden; padding-top: 3rem; padding-left: 0; }
.timeline .timeline-list .timeline-object {position: relative;margin-bottom: 5rem;left: 15%;padding: 20px;background-color: #5c1d7d;width: 70%; }
.timeline .timeline-list .timeline-object h3 {font-weight: 700; margin: 1rem 0 }
.timeline .timeline-list .timeline-object .fa {float: right; font-size: 2.5rem; margin: 0.3rem 0; position: absolute; right: 1rem; top:30%}
.timeline .timeline-list .timeline-object.hidden {visibility: hidden; }
.timeline .timeline-list .timeline-object a {font-weight: 700; }
.timeline .timeline-list .timeline-object::before {content: '';width: 0;height: 0;position: absolute;left: -1em;top: 0; border-top: 1em solid #5c1d7d; border-left: 1em solid transparent;}
.timeline .timeline-list .timeline-object::after {content: '';background: #065743;width: 1rem;height: 1rem;position: absolute;top: -0.5rem;border-radius: 100%;right: calc(100% + 10.5%); }


.timeline .timeline-list .timeline-object.rightside {position: relative;left: 15%;text-align: right; background-color: #EF0C74; width: 70%}
.timeline .timeline-list .timeline-object.rightside .fa {float: left; left: 1rem; right: 100% }
.timeline .timeline-list .timeline-object.rightside::before {content: '';width: 0;height: 0;position: absolute;left: -1em;top: 0; border-top: 1em solid #EF0C74;border-left: 1em solid transparent; }
.timeline .timeline-list .timeline-object.rightside::after {content: '';background: #065743;width: 1rem;height: 1rem;position: absolute;top: -0.5rem;border-radius: 100%;left: calc(-8.78% - 1.3rem); }


.timeline .timeline-list .timeline-object.centered {position: relative;text-align: left;width: 70%; background-color: #261372 }
.timeline .timeline-list .timeline-object.centered .fa {float: none; display: inline-block; position: relative; top: 0; right: 0}

.timeline h3 {padding-right: 3rem}

.timeline .timeline-list .timeline-object.rightside h3 {padding-right: 0; padding-left: 3rem}


/*****************
 * MEDIA QUERIES *
 *****************/

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {


/** THIS SHOULD REMAIN EMPTY AS THIS STYLESHEET IS MOBILE FIRST // ALL MOBILE STYLING ABOVE **/


}

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {
	
.timeline p.timeline-year {text-align: center; padding: 0}
.timeline::before {left: 50%}

.timeline .timeline-list .timeline-object {width: 38.6%; left: 2.4%}
.timeline .timeline-list .timeline-object.rightside {width: 38.6%; left: 54.2%}
.timeline .timeline-list .timeline-object.centered {width: 90%; text-align: center}

.timeline .timeline-list .timeline-object.centered::before {content: '';width: 0;height: 0;position: absolute;left: calc(50% - 0.95rem);top: -12px; border-top: 0;border-left: 1em solid transparent;border-right: 1em solid transparent;border-bottom: 1em solid #261372; }
.timeline .timeline-list .timeline-object.centered::after {display: none; }

.timeline .timeline-list .timeline-object::before {border-right: 1rem solid transparent; border-left: 0; left: 100%}

.timeline .timeline-list .timeline-object::after {left: calc(100% + 1.3rem); right: 100%}
.timeline .timeline-list .timeline-object.rightside::after {left: calc(-8.78% - 0.6rem);}

.timeline .timeline-list .timeline-object.centered .fa {display: block}

}


/* Large devices (desktops, 64.063em and up) */
@media (min-width: 64.063em) {



.timeline .timeline-list .timeline-object {width: 42%}
.timeline .timeline-list .timeline-object.rightside {width: 41%; left: 54%}
.timeline .timeline-list .timeline-object.centered {width: 92%}

.timeline h3 {padding-right: 1rem}

.timeline .timeline-list .timeline-object.rightside h3 {padding-right: 0; padding-left: 2rem}
.timeline .timeline-list .timeline-object.centered::before {left: calc(50% - 0.75rem);}
.timeline .timeline-list .timeline-object::after {left: calc(100% + 2.05rem); right: 100%}

}



/** UNCOMMON SIZE **/

@media (min-width: 77em) {
	

	
}


/* Extra large devices (large desktops, 87em and up) */
@media (min-width: 87em) {


}




/* UNCOMMON BIG DESKTOP (ONLY FOR HEADER WIDTH)**/

@media (min-width: 106em) {


}